<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Offer Management</h5>


                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">offer status</th>
                                        <th scope="col">offer Amount</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each product}}
                                    <tr>
                                        <th scope="row">{{inc @index}}</th>
                                        <td>{{Name}}</td>
                                        <td>{{price}}</td>
                                        <td>{{description}}</td>
                                        {{status}}
                                        {{#if status}}
                                        <td>Offer</td>
                                        <td>{{offerper}}</td>
                                        {{else}}
                                        <td>Not Offer</td>
                                        <td>0</td>
                                        {{/if}}
                                       {{#if status}}
                                        <td>
                                            <a class="btn btn-danger" href="/admin/Offer-remove/{{this._id}}"
                                                onclick="confirmation(event)">Remove Offer
                                        </td>
                                        {{else}}
                                        <td>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal{{this._id}}" data-bs-whatever="@mdo">Add Offer
                                            </button>


                                            <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Offer</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/admin/offer/{{this._id}}" method="post">
                                                                <div class="mb-3">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">offer
                                                                        Percentage:</label>
                                                                    <input type="text" class="form-control" name="offer"
                                                                        id="offer" required>
                                                                        <input type="hidden" class="form-control" name="price"
                                                                        id="price" value="{{price}}">
                                                                    <span style="color: red;" id="offer-error"></span>
                                                                </div>
                                                                {{!-- <div class="mb-3">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">offer
                                                                        Starting date:</label>
                                                                    <input type="date" class="form-control"
                                                                        name="strdate" id="strdate" value="n"
                                                                        required>
                                                                    <span style="color: red;" id="strdate-error"></span>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">offer
                                                                        End date:</label>
                                                                    <input type="date" class="form-control"
                                                                        name="enddate" id="enddate" value="{{enddate}}"
                                                                        required>
                                                                    <span style="color: red;" id="enddate-error"></span>
                                                                </div> --}}

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit" id="submit"
                                                                        class="btn btn-primary">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        {{/if}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
    </section>

</main><!-- End #main -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }

    function confirmation(ev) {

        ev.preventDefault();
        var urlToRedirect = ev.currentTarget.getAttribute('href'); //use currentTarget because the click may be on the nested i tag and not a tag causing the href to be empty

        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this  data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                // redirect with javascript here as per your logic after showing the alert using the urlToRedirect value
                if (willDelete) {
                    swal("Poof! Your  file has been deleted!", {
                        icon: "success",

                    });
                    location.href = urlToRedirect
                } else {

                    swal("Your  file is safe!");

                }
            });
    }
</script>