<!-- header -->
<header id="header" class="vh-100 carousel slide" data-bs-ride="carousel" style="padding-top: 104px;">
    <div class="container h-100 d-flex align-items-center carousel-inner">
        <div class="text-center carousel-item active">
            <h2 class="text-capitalize text-white">best collection</h2>
            <h1 class="text-uppercase py-2 fw-bold text-white">new arrivals</h1>
            <a href="#" class="btn mt-3 text-uppercase">shop now</a>
        </div>
        <div class="text-center carousel-item">
            <h2 class="text-capitalize text-white">best price & offer</h2>
            <h1 class="text-uppercase py-2 fw-bold text-white">new season</h1>
            <a href="#" class="btn mt-3 text-uppercase">buy now</a>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#header" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</header>




<section style="background-color: #eee;">
    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>

        <div class="row">
            {{#each a}}
            <div class="col-lg-3 col-md-12 mb-4">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <a href="/product-details/{{this._id}}"><img src="/uploads/{{images.[0]}}" class="w-100"
                                style="height: 18rem;" /></a>
                        <a href="/product-details/{{this._id}}">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">

                                    {{#if status}}
                                    {{#if catoffstatus}}
                                    <h5><span class="badge bg-primary ms-2"> {{sum offerper catofferper}} % Off</span>
                                    </h5>
                                    {{else}}
                                    <h5><span class="badge bg-primary ms-2"> {{offerper}} % Off</span></h5>
                                    {{/if}}

                                    {{else}}

                                    {{#if catoffstatus}}
                                    <h5><span class="badge bg-primary ms-2"> {{catofferper}} % Off</span></h5>
                                    {{else}}

                                    <h5><span class="badge bg-primary ms-2">0% off</span></h5>
                                    {{/if}}

                                    {{/if}}
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="/product-details/{{this._id}}" class="text-reset" style="text-decoration: none;">
                            <h5 class="card-title mb-3">{{Name}}</h5>
                        </a>
                        {{!-- <a href="" class="text-reset">
                            <p>Category</p>
                        </a> --}}
                        {{#if status}}
                        {{#if catoffstatus}}
                        <s>&#x20B9; {{price}}</s><strong class="ms-2 text-danger"> &#x20B9; {{total}}</strong>
                        {{else}}
                        <s>&#x20B9; {{price}}</s><strong class="ms-2 text-danger"> &#x20B9; {{total}}</strong>
                        {{/if}}
                        {{else}}
                        {{#if catoffstatus}}
                        <s>&#x20B9; {{price}}</s><strong class="ms-2 text-danger"> &#x20B9; {{total}}</strong>
                        {{else}}
                        <strong class="ms-2 text-danger"> &#x20B9; {{price}}</strong>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
                <div class="cart  align-items-center"> <button
                        class="btn btn-danger text-white btn-outline-primary fa fa-shopping-cart text-uppercase w-100"
                        onclick="addtocart('{{this._id}}')">Add to cart</button>
                </div>
            </div>
            {{/each}}




        </div>
    </div>
</section>